html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    background-color: #F9FAFB;
    /* font-size: 1.3rem; */
    gap: 20px;
}
.hero{
     max-width: 1200px;
    margin: 50px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}
a{
    background-color: #2563EB;
    border-radius: 10px;
    border-color: white;
    border-style: none;
    padding: 9px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    min-width: 200px;
    border:1px solid white;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 800px;
    border-radius: 15px;
    align-items: center;
}
.top p{
    margin: -10px;
}
.top a{
    margin: 50px;
    width: 80%;
    text-align: center;
    height: 25px;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 800px;
    border-radius: 15px;
    align-items: center;
    height: 90px;
    justify-content: center;
}








body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    background-color: #F9FAFB;
    /* font-size: 1.3rem; */
    gap: 20px;
}
.hero{
     max-width: 1200px;
    margin: 50px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}
a{
    background-color: #2563EB;
    border-radius: 10px;
    border-color: white;
    border-style: none;
    padding: 9px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    min-width: 200px;
    border:1px solid white;
}

.top{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 800px;
    border-radius: 15px;
    align-items: center;
}
.top p{
    margin: -10px;
}
.top a{
    margin: 50px;
    width: 80%;
    text-align: center;
    height: 25px;
    text-align: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 800px;
    border-radius: 15px;
    align-items: center;
    height: 90px;
    justify-content: center;
}